#mainDiv.sorted .arrayElem {
    background: #2da41f;
    transition: background 0.5s;
}

.arrayElem {
    position: relative;
    flex-basis: 100%;
    margin-left: 1px;
    min-width: 1px;
    max-width: 100px;
    background: #c8c8c8 linear-gradient(to bottom, #aeaeae 50px, #c8c8c8 200px);
}

.firstHighlight {
    background: #3ca1c3 linear-gradient(to bottom, #287e98 50px, #3ca1c3 200px);
}

.secondHighlight {
    background: #2a81d7 linear-gradient(to bottom, #2162a0 50px, #2a81d7 200px);
}

.leftHalf {
    background: #ff7200 linear-gradient(to bottom, #ff6600 50px, #ff7200 200px);
}

.rightHalf {
    background: #ff9900 linear-gradient(to bottom, #ff8c00 50px, #ff9900 200px);
}