#mainDiv {
    display: flex;
    justify-content: center;
    padding: 0 20px 50px 20px;
    flex: 2;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}

#footer {
    position: absolute;
    cursor: default;
    font-size: 20px;
    color: gray;
    bottom: 10px;
    width: calc(100% - 40px);
}

#footer a {
    color: gray;
    text-decoration: none;
    transition: color 0.2s;
}

#footer a:hover {
    color: white;
}