#navbar {
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.04);
}

.navElem {
    height: 80px;
    line-height: 80px;
    display: inline-block;
    padding: 0 20px;
    color: #d0d0d0;
    font-size: 27px;
    text-shadow: 3px 3px 4px black;
    font-family: 'Roboto', 'Arial', sans-serif;
    transition: transform 0.2s;
}

.navElem:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.active {
    color: white;
    font-weight: bold;
}

