#navbar {
    position: relative;
    user-select: none;
    line-height: 80px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.04);
}

.navElem {
    height: 80px;
    line-height: 80px;
    display: inline-block;
    padding: 0 20px;
    color: #d0d0d0;
    font-size: 27px;
    text-shadow: 3px 3px 4px black;
    font-family: 'Roboto', 'Arial', sans-serif;
    transition: transform 0.2s, opacity 0.3s;
}

.navElem:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.active {
    color: white;
    font-weight: bold;
}

.disabled {
    opacity: 0.1;
}

.disabled.active {
    opacity: 1;
}

.disabled.active:hover {
    cursor: default;
    transform: none;
}

.disabled:hover {
    cursor: default;
    transform: none;
}

