.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 54, 124, 0.7);
}

#settingsDiv {
  padding: 5px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  width: 100%;
  user-select: none;
  color: white;
  text-align: center;
}

#settingsDiv table {
  height: 50px;
  border-right: 1px solid rgba(255,255,255,0.1);
  border-left: 1px solid rgba(255,255,255,0.1);
  margin-left: -1px;
  padding: 0 30px;
  display: inline-block;
  transition: opacity 0.3s;
}

#settingsDiv table:first-child {
  margin-left: 0;
}

#settingsDiv table tbody {
  padding: 0;
  margin: 0;
}

#settingsDiv table tbody tr:only-child {
  height: 46px;
}

.settingsButton {
  text-shadow: 3px 3px 4px black;
  font-size: 25px;
  cursor: pointer;
  transition: text-shadow 0.1s;
}

.settingsButton:hover {
  text-shadow: 4px 4px 6px black;
}

.disabledSetting {
  cursor: default;
}

.disabledSetting:hover {
  text-shadow: 3px 3px 4px black;
}