.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 54, 124, 0.7);
}

#smallScreenNav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  display: none;
}

.smallScreenNavElem {
  height: 70px;
  width: 70px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.smallScreenNavElem:hover {
  background-color: rgba(61, 149, 219, 0.5);
}

.smallScreenNavElem img {
  height: 60px;
  width: 60px;
}

#informationDiv {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: white;
  text-align: center;
  padding: 5px 0;
}

@media (pointer:none), (pointer:coarse), (max-width: 800px) {
  body {
    overflow: hidden !important;
  }

  #mainDiv {
    padding: 0 0 50px 0 !important;
  }

  #startStopButton {
    display: none !important;
  }

  #smallScreenNav {
    display: flex;
    justify-content: space-between;
  }

  #settingsBar,#navBar {
    position: absolute !important;
    top: 70px;
    overflow: auto;
    height: calc(100% - 70px);
    z-index: 1;
    right: 100%;
    background-color: rgba(0,0,0,0.8) !important;
    transition: right 0.4s;
  }

  #settingsBar.visible, #navBar.visible {
    right: 0;
  }

  #settingsBar, #navBar {
    right: 100%;
    overflow-x: hidden;
  }

  #navBar div {
    display: list-item;
  }
}