#settingsBar {
    padding: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    width: 100%;
    user-select: none;
    color: white;
    text-align: center;
}

#settingsBar table {
    height: 50px;
    border-right: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    margin-left: -1px;
    padding: 0 30px;
    display: inline-block;
    transition: opacity 0.3s;
}

#settingsBar table:first-child {
    margin-left: 0;
}

#settingsBar table tbody {
    padding: 0;
    margin: 0;
    transition: opacity 0.3s;
}

#settingsBar table tbody tr:only-child {
    height: 46px;
}

.settingsButton {
    text-shadow: 3px 3px 4px black;
    font-size: 25px;
    cursor: pointer;
    transition: text-shadow 0.1s, opacity 0.3s;
}

.settingsButton:hover {
    text-shadow: 4px 4px 6px black;
}

.noClickSetting {
    cursor: pointer;
}

.disabledSetting tbody {
    opacity: 0.1;
}

.disabledSetting .settingsButton {
    text-shadow: 3px 3px 4px black;
    cursor: default;
}